.ribbon {
  background-color: #a00;
  overflow: hidden;
  white-space: nowrap;
  position: absolute;
  right: -40px;
  top: 25px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-box-shadow: 0 0 10px #888;
  -moz-box-shadow: 0 0 10px #888;
  box-shadow: 0 0 10px #888;
}

.ribbon a {
  border: 1px solid #faa;
  color: #fff;
  display: block;
  font: bold 81.25% 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 1px 0;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 0 5px #444;
}

.eclipse1 {
  position: absolute;
  width: 362px;
  height: 362px;
  top: -49px;
  background: #54C5F8;
  filter: blur(150px);
  left: -188px;
}

.eclipse2 {
  position: absolute;
  width: 571px;
  height: 439px;
  bottom: -241px;
  right: -227px;


  background: #54C5F8;
  filter: blur(150px);
}

.playground-navbar {
  display: flex;
  align-items: center;
  background-color: #000;
  padding: 5px;
  position: relative
}

.menu-wrapper {
  flex: 1;
  justify-content: end;
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.playground-footer {
  display: flex;
  background-color: #000;
  z-index: 100;
  position: absolute;
  margin: 0;
  padding: 10px;
  left: 0;
  width: 100%;
  bottom: 0;
}

.playground-footer p {
  color: #B6B6B6;
  margin: auto;
}

.playground-footer>p>span {
  color: #CF2F2F
}

.editor-container {
  height: calc(100vh - 330px);
  border: 1px solid #cfcfcf47;
}

.playground-heading {
  color: #FFFFFF;
  text-align: center;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 24px;
}

.playground-subheading {
  margin: auto;
  text-align: center;
  max-width: 570px;
  color: #858181;
  margin-bottom: 20px
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .playground-navbar .menu-wrapper {
    display: none;
  }

  .eclipse2 {
    display: none;
  }

  .playground-heading {
    font-size: 16px;
  }
  .playground-subheading {
    font-size: 10px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}