.ribbon {
    background-color: #a00;
    overflow: hidden;
    white-space: nowrap;
    position: absolute;
    right: -40px;
    top: 25px;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
      -webkit-box-shadow: 0 0 10px #888;
       -moz-box-shadow: 0 0 10px #888;
            box-shadow: 0 0 10px #888;
  }
  .ribbon a {
    border: 1px solid #faa;
    color: #fff;
    display: block;
    font: bold 81.25% 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 1px 0;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 0 5px #444;
  }

 